<h1>Hello {{name}}. This is First Angular2 Component or Directive</h1>
		<p>Email:{{email}}</p>
		<p>Address:{{address.street}}, {{address.city}}</p>
		<!-- open paranthesis for event listeners eg:(click) and square brackets for object property names [(ngModel)]="address.street. -->
		<!-- [(hidden)]="showIntrest" will still display element in the DOM. *ngIf="!showIntrest" will remove the element from the DOM. 
		it's like *ng-show or hide vs *ng-If -->
		<button *ngIf="!showIntrest" (click)="toggleIntrest()">{{showIntrest ? 'Hide Intrests' : 'Show Intrests'}}</button>
		<!-- conditionals -->
		<div *ngIf="showIntrest">
			<ul><!-- array iterations -->
				<li *ngFor="let intrest of intrests; let i = index;">
				{{intrest}} <button (click)="deleteIntrests(i)">X</button>
				</li>
			</ul>
			<form (submit)="addIntrests(intrest.value)">
				<span style="font-size:small">Add Intrest:</span>
				<input type="text" #intrest/>
			</form>	
		</div>
		<h1> Adding form inputs to add and delete intrests.</h1>
		<form>
			<!-- two way data binding.-->
			<span style="font-size:small">Name:</span>
			<input type="text" name="name" [(ngModel)]="name" /><br>
			<span style="font-size:small">Email:</span>
			<input type="text" name="email" [(ngModel)]="email" /><br>
			<span style="font-size:small">Street:</span>
			<!-- open paranthesis for event listeners eg:(click) and square brackets for object property names [(ngModel)]="address.street. -->
			<input type="text" name="address.street" 
			[(ngModel)]="address.street" /><br>
			<span style="font-size:small">City:</span>
			<input type="text" name="address.city" 
			[(ngModel)]="address.city" /><br>
		</form>	
		<hr/>
		<h3>Angular 2 Post Service:</h3>
		<div *ngFor="let post of posts">
			{{post.title}}<br/> 
			{{post.body}} <br/>
		</div>